@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue.eot');
  src: url('HelveticaNeue.woff2') format('woff2'),
       url('HelveticaNeue.woff') format('woff'),
       url('HelveticaNeue.ttf') format('truetype'),
       url('HelveticaNeue.svg#HelveticaNeue') format('svg'),
       url('HelveticaNeue.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

