#footer{
    padding: 50px 0 18px;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    z-index: 7;

    &.home{
        margin-top: 0;
    }

    .video{
        margin-bottom: 20px;
        height: 100%;

        video{
            width: 100%;
            height: 100%;
            opacity: .1;

            @media (min-width: 1200px){
                height: auto;
            }
        }
    }

    .feedback{
        margin-bottom: 30px;

        @media (max-width: 767px){
            margin-top: 30px;
        }

        @media (min-width: 1200px){
            margin-bottom: 50px;
        }

        h2{
            color: #231f20;
            font-size: 36px;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 2px;

            @media (min-width: 1200px){
                margin-top: 10px;
            }
        }

        .des{
            color: #231f20;
            font-size: 16px;
            opacity: .6;
            font-family: 'HelveticalMedium';

            @media (min-width: 1200px){
                margin-bottom: 20px;
            }
        }

        .box-email{
            max-width: 330px;
            padding-right: 30px;
            padding-bottom: 10px;
            border-bottom: 1px solid $black;
            background: url('../img/footer/arr-right.png') no-repeat right 5px;
            background-size: 8px 16px;

            @media (min-width: 1200px){
                max-width: 400px;
            }

            input[type=email]{
                color: $black;
                opacity: .7;
                max-width: 290px;
                min-width: 220px;
                outline: none;
                border: none;
                background: none;
                font-family: 'HelveticalMedium';
                font-size: 12px;

                @media (min-width: 1200px){
                    width: 320px;
                    max-width: 320px;;
                }

                &:focus{
                    opacity: 1;
                }
            }
        }
    }

    .add-email{
        margin-bottom: 20px;
        color: $black;
        
        p{
            font-size: 16px;
            margin-bottom: 0;

            span{
                font-family: 'HelveticalRegular';
                color: $grey;
                font-size: 12px;
            }
        }

        label{
            display: inline-block;
            margin-right: 50px;
            margin-bottom: 0;
        }
    }

    .cpy-right{

        @media (min-width: 992px){
            text-align: right;
        }
        
        h3{
            color: $black;
            font-size: 12px;
            font-weight: 600;
            font-family: 'HelveticalMedium';
        }

        p{
            color: $grey;
            font-size: 12px;
            font-family: 'HelveticalRegular';
        }
    }
}