
body{
    &.modal-open{
        overflow: hidden;
    }
}

.logo{
    width: 75px;

    @media (min-width: 992px) { 
        width: 100px;
    }
}

$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 4px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

.navbar-toggler {
    float: right;
    outline: none;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    .hamburger-box {
        width: 24px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;

        &,
        &::before,
        &::after {
            width: 100%;
            height: 1px;
            background-color: #000;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: ease;
        }

        &::before,
        &::after {
            content: "";
            display: block;
        }

        &::before {
            top: -10px;
        }

        &::after {
            bottom: -10px;
        }
    }

    &.hamburger--spring {
        .hamburger-inner {
            top: $hamburger-layer-height / 2;
            transition: background-color 0s 0.13s linear;

            &::before {
                top: $hamburger-layer-height + $hamburger-layer-spacing;
                transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
                            transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }

            &::after {
                top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
                transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
                            transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
        }
    
        &.is-active {
            .hamburger-inner {
                transition-delay: 0.22s;
                background-color: transparent;

                &::before {
                    top: 0;
                    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                                transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(45deg);
                }

                &::after {
                    top: 0;
                    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                                transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
                    transform: translate3d(0, $hamburger-layer-spacing + $hamburger-layer-height, 0) rotate(-45deg);
                }
            }
        }
    }
}

.navbar{
    padding: 0;
    background-color: #fff;
    height: 58px;
    background: #fff;

    &.home{
        // background: #f8f8f8;
        @media (min-width: 992px) { 
            background-color: transparent;
        }
    }

    .container{
        @media (min-width: 576px) { 
            max-width: 100%;
        }

        @media (min-width: 768px){
            max-width: 720px;
        }

        @media (min-width: 992px) { 
            max-width: 960px;
        }

        @media (min-width: 1200px) { 
            max-width: 1140px;
        }
    }

    @media (min-width: 768px) { 
        padding-left: 15px;
        padding-right: 15px;

        &.grey{
            background: #ededed;
        }
    }

    @media (min-width: 992px) { 
        height: 90px;
    }

    &.grey{
        background: #ededed;
    }
}

.navbar-brand{
    margin: 5px 0 0 15px;
    padding-top: 0;
    padding-bottom: 10px;

    @media (min-width: 768px) { 
        margin-top: 10px;
    }

    @media (min-width: 992px) { 
        margin-left: 0;
        margin-top: 17px;
    }
}

@-webkit-keyframes changeWidth {
    0%   { width: 0; }
    5%  { width: 100%; }
    80% {
        width: 100%;
        right: 0;
        left: auto;
    }
    95% {
        width: 0;
        right: 0;
        left: auto;
    }
    100% {
        right: auto;
        left: 0;
        width: 0;
    }
}

@-moz-keyframes changeWidth {
    0%   { width: 0; }
    5%  { width: 100%; }
    80% {
        width: 100%;
        right: 0;
        left: auto;
    }
    95% {
        width: 0;
        right: 0;
        left: auto;
    }
    100% {
        right: auto;
        left: 0;
        width: 0;
    }
}

@-o-keyframes changeWidth {
    0%   { width: 0; }
    5%  { width: 100%; }
    80% {
        width: 100%;
        right: 0;
        left: auto;
    }
    95% {
        width: 0;
        right: 0;
        left: auto;
    }
    100% {
        right: auto;
        left: 0;
        width: 0;
    }
}

@keyframes changeWidth {
    0%   { width: 0; }
    5%  { width: 100%; }
    80% {
        width: 100%;
        right: 0;
        left: auto;
    }
    95% {
        width: 0;
        right: 0;
        left: auto;
    }
    100% {
        right: auto;
        left: 0;
        width: 0;
    }
}
    
.navbar-right{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 58px;
    text-align: center;
    background: #fff;
    z-index: 6;
    display: none;

    @media (min-width: 992px) {
        position: relative;
        width: 100%;
        right: auto;
        background: none;
        z-index: 1;
        top: 10px;
        display: block !important;
    }

    // &.show{
    //     top: 58px;
    //     -webkit-transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    //     -moz-transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    //     -ms-transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    //     transition: all 500ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    // }

    .btn-close{
        position: absolute;
        right: 20px;
        top: 20px;
        color: #fff;
        background: url('../img/ic_close_36px.png') no-repeat 0 0;
        width: 0;
        height: 0;
        display: inline-block;
        background-size: cover;

        @media (min-width: 768px) {
            display: none;
        }
    }

    .nav-item{
        margin-bottom: 32px;
        display: inline-block;

        @media (min-width: 992px) {
            margin-bottom: 0;

            &:first-child{
                .nav-link{
                    margin-left: 0;
                }
            }

            &:last-child{
                .nav-link{
                    margin-right: 0;
                }
            }
        }
    }

    .nav-link{
        position: relative;
        display: inline-block;
        color: $black;
        font-size: 24px;
        margin-bottom: 2px;
        padding: 0;
        text-transform: uppercase;
        font-family: 'HelveticaBold';
        font-weight: 700;

        @media (min-width: 992px) {
            padding: 0;
            height: 40px;
            line-height: 40px;
            margin: 15px 0 0 50px;
            color: $grey;
            padding: 0 !important;
            white-space: nowrap;
            font-size: 18px;

            &.active{
                opacity: 1;
            }

            &:hover,
            &.active{
                color: $black;
                
                &:after{
                    border-top: 3px solid $black;
                }
            }

            &:after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-top: 3px solid $black;
                left: 0;
                top: 20px;
            }
        }

        @media (min-width: 992px) {
            margin-left: 40px;
            margin-right: 40px;
        }

        &:hover,
        &.active{
            &:after{
                animation: changeWidth 6s infinite ease-in-out;
            }
        }
    }

    .link-sub{
        @media (min-width: 992px) {
            display: none;
        }

        a{
            color: $grey;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            font-family: 'HelveticaBold';
        }
    }
}

.navbar-nav{
    padding: 27px 0 0;
    overflow: hidden;

    // @media (min-width: 768px) { 
    //     padding: 0;
    //     float: right;
    //     overflow: hidden;
    // }

    @media (min-width: 992px) { 
        padding: 0;
        float: none;
        margin: 0 auto;
        width: 500px;
        height: 90px;
        display: block;
    }

    a{
        color: #696969;
    }

    .link-sub{
        margin-bottom: 0;
    }
}

.nav-top-round{
    width: 100%;
    height: 58px;
    overflow: hidden;
    z-index: 7;
    position: relative;

    @media (min-width: 992px) {
        position: absolute;
        width: auto;
        height: 90px;
    }
}

.fb-behance{
    display: none;
    text-align: right;
    margin-top: 10px;

    @media (min-width: 992px) {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
    }

    a{
        color: $grey;
        margin-left: 50px;
        font-family: 'HelveticalMedium';
        font-size: 9px;
        display: block;
        clear: both;
        margin-bottom: 3px;
        text-transform: uppercase;

        &:first-child{
            margin-left: 0;
        }

        &:hover{
            text-decoration: underline;
        }
    }
}
