body{
    &.page-home{
        // background-color: #ebebeb;
        background-color: #fff;
    }
}

$ani-speed: 2s;
$ani-delay: 1s;
.arrow {
    opacity: 0;
    position: absolute;
    left: 23%;
    top: 10%;
    transform: translate3d(-10%, -23%, 0);

    &::before,
    &::after{
        background: #9d9d9d;
        content: '';
        display: block;
        height: 1px; 
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
    }

    &:before {
        transform: rotate(45deg) translateX(-23%);
        transform-origin: top left;
    }

    &:after {
        transform: rotate(-45deg) translateX(23%);
        transform-origin: top right;
    }
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

// Animation
@-o-keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 10px;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

@-moz-keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 10px;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

@-webkit-keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 10px;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 10px;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

.arrowAnimate {
    display: inline-block;
    position: absolute;
    height: 20px;
    width: 22px;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1580px){
        top: 92%;
    }

    @media (min-width: 1630px){
        top: 90%;
    }

    @media (min-width: 1700px){
        top: 85%;
    }
}

.home-intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;

    @media (min-width: 992px){
        display: block;
    }
}

#pc-product{
    padding-top: 30px;
    background: #fff;
    position: relative;
    z-index: 8;
    
    .item{
        margin-bottom: 30px;
        font-family: 'HelveticalMedium';

        &.small{
            overflow: hidden;
            display: inline-block;
            float: right;

            img{
                width: auto;
                display: inline-block;
            }
        }
    }

    span{
        &.item{
            padding-bottom: 38px;
            border-bottom: none !important;
            font-size: 18px;
            text-transform: uppercase;
            font-family: 'HelveticaBold';
            word-spacing: 5px;
            letter-spacing: 2px;
            opacity: .6;

            // @media (min-width: 1200px){
            //     padding-bottom: 59px;
            // }
        }
    }

    .effect-pc{
        li{
            position: initial !important;
            top: auto !important;
            left: auto !important;
            width: auto !important;
            float: none !important;
            padding: 0;
        }
    }

    #effect-pc-2{
        margin-bottom: 30px;
    }
}